/* add your styling here */
body {
  background-color: lightyellow;
}
.imgElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16em;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: yellow;
}

.selectElement {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  color: yellow;
  background-color: rgb(38, 38, 171);
  padding: 20px;
  font-size: 20px;
}
.button {
  border: none;
  width: 15em;
  color: white;
  padding: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 15px auto;

  background-color: red;
}
